<div class="padding-20 text-center">
    <form class="example-form">
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailCtrl" placeholder="email">
                <mat-error *ngIf="emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
                    Ingrese un email válido
                </mat-error>
                <mat-error *ngIf="emailCtrl.hasError('required')">
                    El email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input type="password" matInput [formControl]="passwordCtrl" placeholder="email">
                <mat-error *ngIf="passwordCtrl.hasError('required')">
                    La contraseña es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <button mat-raised-button color="primary">Entrar</button>
    </form>
</div>