<mat-toolbar color="primary">
    <span>Umvel App</span>
    <span class="spacer"></span>
    <a mat-button routerLink="/login">
        Logout
        <mat-icon>logout</mat-icon>
    </a>
</mat-toolbar>

<mat-sidenav-container class="full">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a mat-list-item routerLink="/users">
                <span>Usuarios</span>
                <span class="spacer"></span>
                <mat-icon>people</mat-icon>
            </a>
            <a mat-list-item routerLink="/graph">
                <span>Gráfica de Ventas</span>
                <span class="spacer"></span>
                <mat-icon>show_chart</mat-icon>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>